<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zadanie zdalne e-MSI</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div class="row m-3 p-3">
		<div class="col-3" id="Lewy">
			<nav class="nav flex-column">
				<a class="nav-link" href="/home/different-html-controls">Różne kontrolki HTML</a>
				<a class="nav-link" href="/home/employee-table">Tabela Pracowników</a>
				<a class="nav-link" href="/home/invoice-table">Tabela Faktur VAT</a>
				<a class="nav-link" href="/home/delegation-table">Tabela Delegacji BD</a>
				<a class="nav-link" href="#">Dane Kontrahentów</a>
			</nav>
		</div>
		<div class="col-9" id="Prawy">
			<article>
				{% block body %}
				{% endblock %}
			</article>
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
